.container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* إلغاء align-items: center لكي تتمدد المكونات تلقائياً لـ 100% من العرض */
    align-items: stretch;
    width: 100%;
    max-width: 730px;
    margin: 0 auto; /* لتوسيط التطبيق في منتصف الشاشة أفقياً */
    gap: 24px; /* مسافة رأسية ثابتة بين المكونات */
    padding: 40px;
}

/* 1. حالة التحميل (Loading State) */
.loading {
    background-color: var(--bg-content);
    color: var(--text-main);
    padding: 32px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

/* 2. حالة الخطأ (Error State) */
.error {
    background-color: var(--bg-content);
    color: var(--clr-error-red);
    padding: 32px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

@media (max-width: 768px) {
    .container{
        padding: 16px;
    }
}